/* Don't forget to comment your code! */
* {
    box-sizing: border-box;
}

body {
    background-image: url(../bilder/12_col.gif);
    background-size: 90%;
    margin: 10px 0 10px 0;
}

.container {
    display: grid;
    width: 90%;
    margin: 20px auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: 1px solid black;
    gap: 20px;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
        "main-content main-content main-content main-content main-content main-content main-content main-content main-content sidebar sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    ;
}

/** 
* Moved a bit of the code around,
* so it's easier to follow.
* It's easier for others to follow the code and,
* less prone for bugs.
* Didn't change order of all code chunks just the most obvious ones.
*/

header {
    grid-area: header;
    height: 200px;
    border: 1px solid black;
}

[class*=box-] {
    border: 1px solid black;
}

.box-1 {
    grid-area: box1;
    height: 200px;
}

.box-2 {
    grid-area: box2;
    height: 200px;
}

.box-3 {
    grid-area: box3;
    height: 200px;
}

/**
* "content" is an attribute in CSS grids.
* Changed it to main-content to avoid bugs,
* Before it was in different syntax color and could interfere with the code.
* Changed it just to be sure.
*/

#content {
    grid-area: main-content;
    height: auto;
}

.content-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
}

.content-section {
    height: 120px;
    width: 350px;
    flex-grow: 1;
    border: 1px solid black;
}

#sidebar {
    grid-area: sidebar;
    height: 200px;
    border: 1px solid black;
}

footer {
    display: grid;
    grid-area: footer;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    grid-template-areas:
        "foot1 foot2 foot3 foot4";
}

.section-footer {
    height: 200px;
}

[id*=foot] {
    border: 1px solid black;
}

#foot1 {
    grid-area: foot1;
}

#foot2 {
    grid-area: foot2;
}

#foot3 {
    grid-area: foot3;
}

#foot4 {
    grid-area: foot4;
}

.header-flex {
    display: flex;
    align-items: center;
    padding: 20px;
    height: fit-content;
}

#button-container {
    display: flex;
    flex-wrap: nowrap;
}

#button4 {
    margin-left: auto;
    border-radius: 4px;
}

/**
* Cleaned up from your awsome work,
* added a bit of border radious on buttons.
* I have mostly just changed some things for,
* better readability.
* I did not find any easy or small fix for the extra whitespace changing just the already added css.
*/

#button1,
#button2,
#button3 {
    margin: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {

    .container {
        grid-template-areas:
            "header header header header header header header header header header header header"
            "box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3"
            "main-content main-content main-content main-content main-content main-content main-content main-content main-content sidebar sidebar sidebar"
            "footer footer footer footer footer footer footer footer footer footer footer footer"
    }
}

/* Tablet view  */
@media screen and (max-width: 960px) {

    /* Sets footers orientation to 2 by 2 */
    .container {
        grid-template-rows: 1fr 1fr 1fr 2fr;
        grid-template-areas:
            "header header header header header header header header header header header header"
            "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
            "main-content main-content main-content main-content main-content main-content main-content main-content main-content sidebar sidebar sidebar"
            "footer footer footer footer footer footer footer footer footer footer footer footer";

    }

    /* Sets the entire pages distribution of elements to the correct proportions */
    footer {
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "foot1 foot2"
            "foot3 foot4";
    }

}

@media screen and (max-width: 768px) {

    .container {
        grid-template-areas:
            "header header header header header header header header header header header header"
            "box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
            "box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
            "box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
            "main-content main-content main-content main-content main-content main-content main-content main-content main-content main-content main-content main-content"
            "sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
            "footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}