/* dink42 bara nämner några grejer, vill påminna om kommentera kåden :) */
/* Don't forget to comment your code! */
/* Border on universal selector should not be used, atleast when code complete */
*{
    border: 1px solid black;
     
}

body{
    background-image: url(../bilder/12_col.gif);
    background-size: 90%;
    margin: 10px 0 10px 0;
}


.container{
    display: grid;
    width: 90%;;
    margin: 20px auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    grid-template-areas:
    "header header header header header header header header header header header header"
    "box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
    "content content content content content content content content content sidebar sidebar sidebar"
    "footer footer footer footer footer footer footer footer footer footer footer footer"
    ;
}

header{
    grid-area: header;
    height: 200px;
}


.box-1{
    grid-area: box1;
    height: 200px;
}

.box-2{
    grid-area: box2;
    height: 200px;
}

.box-3{
    grid-area: box3;
    height: 200px;
}

#content{
    grid-area: content;
    height: auto;
}

.content-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}

.content-section {
    height: 120px;
    width: 350px;
    flex-grow: 1;
}

#sidebar{
    grid-area: sidebar;
    height: 200px;
}

footer {
    display: grid;
    grid-area: footer;
    gap: 10px;
    padding: 10px;
    grid-template-areas: 
    "foot1 foot2 foot3 foot4";
}

.section-footer {
    height: 200px;
}

#foot1 {
    grid-area: foot1;
}

#foot2 {
    grid-area: foot2;
}

#foot3 {
    grid-area: foot3;
}

#foot4 {
    grid-area: foot4;
}

.header-flex{
    display: flex;
    align-items: center;
    padding: 20px;
    height: fit-content;
}

#button-container{
    display: flex;
    flex-wrap: nowrap;
}

#button4{
    margin-left: auto;
}

#button1, #button2, #button3{
    margin: 10px;
}

@media screen and (max-width: 1200px) {
    
    .container{
        grid-template-areas:
        "header header header header header header header header header header header header"
        "box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3"
        "content content content content content content content content sidebar sidebar sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
        }
}

/* Tablet view  */
@media screen and (max-width: 960px) {

    /* Sets footers orientation to 2 by 2 */
    footer {
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "foot1 foot2"
        "foot3 foot4";
       
    }

    /* Sets the entire pages distribution of elements to the correct proportions */
    .container {
        grid-template-rows: 1fr 1fr 1fr 2fr;
        grid-template-areas: 
        "header header header header header header header header header header header header"
        "box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
        "content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer footer footer";        
    }
    
}

@media screen and (max-width: 768px) {
   
    .container {
        grid-template-areas: 
        "header header header header header header header header header header header header"
        "box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
        "box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
        "box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
        "content content content content content content content content content content content content"
        "sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

}
