*{
    border: 1px solid black;
}

body{
    background-image: url(../bilder/12_col.gif);
    background-size: 90%;
    margin: 10px 0 10px 0;
}









@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 960px) {
    
}

@media screen and (max-width: 768px) {
 
}

.container{
    
}

.box-1{